---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import TrustedTech from "@/components/TrustedTech.astro";
import Services from "@/components/Services.astro";
import Projects from "@/components/Projects.astro";
import Experience from "@/components/Experience.astro";
import About from "@/components/About.astro";
import Skills from "@/components/Skills.astro";
import Education from "@/components/Education.astro";
import GitHub from "@/components/GitHub.astro";
import Testimonials from "@/components/Testimonials.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TrustedTech />
    <Services />
    <Projects />
    <Experience />
    <About />
    <Skills />
    <Education />
    <GitHub />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
